header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #283747;
    width: 100%;
    height: 70px;
}

#nomSite {
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
    color: #f2eadb;
    text-decoration: none;
    padding: 8px;
}

#nav{
    margin-left: 53%;
}

#seDeconnecter:hover, #gestionCompte:hover, #monProfil:hover {
    background: #f2eadb;
    color: #17202A;
    transition: 0.2s;
}

#monProfil, #gestionCompte, #seDeconnecter {
    margin-left: 15px;
}

#seDeconnecter, #monProfil, #gestionCompte {
    color: #f2eadb;
    font-weight: bold;
    padding: 6px;
    text-decoration: none;
    border-radius: 15px;
}

@media screen and (max-width: 1200px) {
    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100px;
    }

    #nomSite {
        margin-left: 0;
    }

    #nav {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
   header {
       z-index: 1;
       position: fixed;
       top: 0;
   }
}