{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
{% endblock %}

<div id="divFooter">
    <p id="pFooter">&copy; 2020 | <a href="mailto:adrien.durand.dev@gmail.com">contact</a></p>
</div>
